.background-holder {
    background-color: grey;
    width: 100%;
    height: 500px;
    max-height: 80%;
  }
  
  .nav-bar {
    display: flex;
    justify-content: right;
  }
  
  .welcome-text {
    display: flex;
    justify-content: center;
    padding-top: 17%;
    font-size: 5em;
  }
  
  .schedule-button {
    display: flex;
    justify-content: center;
    padding: 25px;
  }
  
  .button-button {
    box-shadow: 5px 10px 20px black;
    font-size: 2em;
  }
  
  .footer {
    display: flex;
    justify-content: center;
  }